body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  min-height: 100%;
}


.carousel {
  width: 900px;
  height: 780px;
  margin: auto;
}


/* footer styles */
footer {
bottom: 0;
display: inline;
text-align: center;
font-size: 15px;
width: 100%;
height: 40px;
position: fixed;
}


.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}

.footer a:hover {
  background-color: rgb(64, 173, 156);
  border-radius: 2px 0 0 2px;;
}



