#forms {
    padding:1.8rem;
    border: 1.5rem;
   }

.contact-container {
    margin: 1rem 0.5rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    padding: 0.2rem; 
    width: 95%;
}

.smaller-container {
    align-content: center;
}

.contact-wrapper {
    width: 100%;

}
